//
   Created by Yan on 12/8/2014.
#table-container
   if (data.length == 0)
      br
      .alert.alert-danger
         b Your search did not match any documents!

   else
      table.table.table-striped.table-hover.table-bordered
         thead
         th pet name
         th pet type
         th pet color
         th pet age
         th pet gender
         th pet owner name
         th pet owner location
         th pet owner contact information
         th pet picture url
         each item in data
            tr
               td #{item.pet_name)
               td #{item.pet_type)
               td #{item.pet_color)
               td #{item.pet_age)
               td #{item.pet_gender)
               td #{item.pet_ownerName)
               td #{item.pet_ownerLocation)
               td #{item.pet_ownerContactInfo)
               td
                  if (!item.pet_pictureURL)
                     p no image available
                  else
                     img(src="/public/images/" + item.pet_pictureURL)
